name: reviewdog
on: [pull_request]
jobs:
  pyright:
    name: pyright
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: false

      - name: pyright
        uses: ./
        with:
          reporter: github-pr-review
          github_token: ${{ secrets.GITHUB_TOKEN }}

  shellcheck:
    name: shellcheck
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: false

      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1
        with:
          reporter: github-pr-review
          exclude: "./.git/*"
          fail_on_error: true
          github_token: ${{ secrets.GITHUB_TOKEN }}

  markdownlint:
    name: markdownlint
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: false

      - name: markdownlint
        uses: reviewdog/action-markdownlint@v0.1
        with:
          reporter: github-pr-review
          fail_on_error: true
          github_token: ${{ secrets.GITHUB_TOKEN }}

  misspell:
    name: misspell
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: false

      - name: misspell
        uses: reviewdog/action-misspell@v1
        with:
          reporter: github-pr-review
          locale: "US"
          github_token: ${{ secrets.GITHUB_TOKEN }}

  yamllint:
    name: yamllint
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: false

      - name: yamllint
        uses: reviewdog/action-yamllint@v1
        with:
          reporter: github-pr-review
          github_token: ${{ secrets.GITHUB_TOKEN }}

  pyflakes:
    name: pyflakes
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: pyflakes
        uses: reviewdog/action-pyflakes@v1
        with:
          reporter: github-pr-review
          github_token: ${{ secrets.GITHUB_TOKEN }}
